html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

canvas#app1 {
  position: absolute;
}

#send1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#output1 {
  color: #fff;
  position: absolute;
  top: 2rem;
  left: 1rem;
}

#app2 {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.box {
  /* border: 1px solid #fff; */
}
.box:hover {
  background-color: #fff;
}
