html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

#app2 {
  position: absolute;
  top: -1000px;
  left: -1000px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 2000px;
  height: 2000px;
}

.box:hover {
  background-color: #fff;
}
